nav {
    z-index: 99;
    height: 5vh;
    top: 0.5rem;
    margin: .5rem;
    position: sticky;
    
    border: 1px black solid;
    border-radius: 10px;

    background: #bfcc94;

    transition: 500ms;
} 

nav:hover {
    transition: 300ms;
    transform: scale(1.02);
}

a {
    display: flex;
    text-decoration: none;
    color: black;
}

body {
    background: #e6aace;
    width: calc(100vw - scrollgutter);
    height: fit-content;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 1rem;
}

.card {
    padding: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 1rem;
    transition: 500ms;
    background: #f0f4ef;
}

.card:hover {
    transition: 300ms;
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: auto;
    padding: 0.5rem;
}

.card p, .card h3 {
    text-align: center;
    padding: 0.5rem;
}
